@*@model CustomerFeedback.Models.Survey*@
@model CustomerFeedback.Models.ViewModels.SurveyVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row alert-danger">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survey.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survey.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survey.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.ExpireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survey.ExpireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.AdministratorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrator.NameFull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.CustomerTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerTypeAndDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.Survey.Id" />
        <a asp-action="Index" class="btn btn-labeled btn-secondary my-3"><span class="btn-label me-3"><i class="fa fa-chevron-left"></i></span>Back to List</a> |
        <input type="submit" value="Delete" class="btn btn-danger my-3" />
    </form>
</div>
